<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- replaced with <head> containing page title, charset, link to css -->
<head th:replace="~{fragments/fragments.html :: docHead}"></head>

<!-- assignment of some variables in <body> scope in order to fill in fragments variables
      - those variables are specific to each template: index.html, search.html, create.html ...-->
<body th:with="
createLinkClass='current-page',
formMethod='POST',
formButton='Create'">

<!-- replaced with <header> containing navbar -->
<header th:replace="~{fragments/fragments.html :: navbar}"></header>

<main>
    <!-- replaced by <section> containing table browsing card (table of entries to browse) -->
    <section th:replace="~{fragments/fragments.html :: tableCard}"></section>

    <!-- detail view card - contains form with fields, offers update and delete operations -->
    <section th:replace="~{fragments/fragments.html :: detailCard}"></section>

    <!-- status card - containing erors or status of recently finished operations -->
    <section th:replace="~{fragments/fragments.html :: statusCard}"></section>

</main>
</body>
</html>
