<!-- this template uses fragments, see fragments.html -->
<!-- see fragments/fragments.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- replaced with <head> containing page title, charset, link to css -->
<head th:replace="~{fragments/fragments.html :: docHead}"></head>

<!-- assignment of some variables in <body> scope in order to fill in fragments variables
      - those variables are specific to each template: index.html, search.html, create.html ...
      - this allows us to specify some fragment variables without doing that in controller -->
<body th:with="
searchLinkClass='current-page',
formMethod='PUT',
formButton='Update'">

<!-- replaced with <header> containing navbar -->
<header th:replace="~{fragments/fragments.html :: navbar}"></header>

<main>

    <!-- search bar -->
    <section class="searchbar">
        <form action="search" th:method="GET">
            <label>Searched name: <input type="text" name="searchedName"></label>
            <input type="submit" value="Search" class="clickable">
        </form>
    </section>

    <!-- replaced by <section> containing table browsing card (table of entries to browse) -->
    <section th:replace="~{fragments/fragments.html :: tableCard}"></section>

    <!-- detail view card - contains form with fields, offers update and delete operations -->
    <section th:replace="~{fragments/fragments.html :: detailCard}"></section>

    <!-- status card - containing erors or status of recently finished operations -->
    <section th:replace="~{fragments/fragments.html :: statusCard}"></section>

</main>
</body>
</html>
