<!-- file with all the fragments (reusable code) used in this project's templates -->
<!-- TODO add buttons next to id# and Name attributes in table header for ascending and descending sorting -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- <head> with page title, charset, link to css -->
<head th:fragment="docHead">
  <meta charset="UTF-8">
  <title>Generic CRUD application</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>

<!-- <header> containing "navbar" -->
<header th:fragment="navbar">
  <h3>Nutritional database</h3>
  <nav>
    <a href="/" th:class="${browseLinkClass} + ' clickable'">Browse all foods</a>
    <a href="/search" th:class="${searchLinkClass} + ' clickable'">Search foods by name</a>
    <a href="/create" th:class="${createLinkClass} + ' clickable'">Create new food</a>
  </nav>
</header>

<!-- <section> containing table view card with paging (table of entries to browse) -->
<section th:fragment="tableCard" class="table-card">
  <ol>
    <li class="grid-item grid-header"> <!-- table header - names of columns -->
      <div>ID#</div>
      <div>Name</div>
      <div>Kcal/100g</div>
      <div>Protein/100g</div>
      <div>Carb/100g</div>
      <div>Fat/100g</div>
    </li>
    <li th:each="entry: ${entries}" class="grid-item"> <!-- general table row - definition of data fields shown to client -->
      <div th:text="${entry.foodID}"></div>
      <div th:text="${entry.foodName}"></div>
      <div th:text="${entry.kcalContent}"></div>
      <div th:text="${entry.proteinContent}"></div>
      <div th:text="${entry.carbContent}"></div>
      <div th:text="${entry.fatContent}"></div>
      <!-- button for opening the detail view of a given entry (table row): -->
      <!-- uses multiple url arguments -->
      <a th:href="
      '?view=' + ${viewIndex} +
      '&id=' + ${entry.foodID} +
      '&searchedName=' + ${searchedName}" class="clickable">Edit</a>
    </li>
  </ol>
  <ul id="table-card-navigation"> <!-- buttons for Browsing though the table -->
    <!-- PREVIOUS button - has multiple URL arguments -->
    <a th:unless="${createLinkClass}" th:href="
    '?view=' + ${viewIndex - 1} +
    '&id=' +${selectedID} +
    '&searchedName=' + ${searchedName}" class="previous-view clickable">PREVIOUS</a>
    <!-- indicator of the position of the table view within the full table, for example "4/6" -->
    <div th:text="${viewIndex + 1} + '/' + ${numberOfViews}" id="view-number"></div>
    <!-- NEXT button - has multiple URL arguments -->
    <a th:unless="${createLinkClass}" th:href="
    '?view=' + ${viewIndex + 1} +
    '&id=' +${selectedID} +
    '&searchedName=' + ${searchedName}" class="next-view clickable">NEXT</a>
  </ul>
</section>

<!-- <section> containing form with data fields, reset and update buttons -->
<section th:fragment="detailCard" th:if="${displayDetail}" class="detail-card">
  <p th:if="${createLinkClass}">NEW FOOD:</p>
  <!-- form used for either update or create action -->
  <!-- uses multiple url arguments -->
  <form th:action="
  '?view=' + ${viewIndex} +
  '&id=' +${selectedID} +
  '&searchedName=' + ${searchedName}"
        th:method="${formMethod}">
    <span th:unless="${createLinkClass}" th:text="'id# ' + ${selectedID}"></span>
    <!-- data fields -->
    <label>Name: <input th:field="${foodDTO.foodName}" type="text"/></label>
    <label>Kcal/100g: <input th:field="${foodDTO.kcalContent}" type="text"/></label>
    <label>Protein/100g: <input th:field="${foodDTO.proteinContent}" type="text"/></label>
    <label>Carb/100g: <input th:field="${foodDTO.carbContent}" type="text"/></label>
    <label>Fat/100g: <input th:field="${foodDTO.fatContent}" type="text"/></label>
    <!-- form buttons reset and update/create -->
    <input type="reset" value="Reset" class="clickable">
    <input type="submit" th:value="${formButton}" class="clickable">
  </form>
  <!-- delete button for the detail view -->
  <!-- relies on multiple url arguments -->
  <form th:unless="${createLinkClass}" th:fragment="deleteButton"
        th:action="
        '?view=' + ${viewIndex} +
        '&id=' +${selectedID} +
        '&searchedName=' + ${searchedName}"
        th:method="DELETE">
    <input type="submit" value="Delete" class="clickable"/>
  </form>
</section>

<!-- status card containing errors and messages of status of finished operations to the user -->
<section th:fragment="statusCard" class="status-card">
  <p th:if="${uRLParameterError}" th:text="${uRLParameterError}" class="error"></p>
  <p th:if="${inputError}" th:text="${inputError}" class="error"></p>
  <p th:if="${operationStatus}" th:text="${operationStatus}" class="status"></p>
</section>


</html>