/* all CSS styling of this application */
/* vanilla CSS, no framework */
/* i cared only about being able to see my results for testing purposes */
/* i basically didn't care about design */

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --navbar-height: 8vh;
  --card-max-width: 500px;
}

/* header contains logo and navbar, so it is flex container */
header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--navbar-height);
  width: 100vw;
  background-color: Wheat;
}

/* navbar */
header > nav {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

/* styling of clickable elements (links, buttons) */
.clickable {
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: Navy;
  padding: 5px;
  width: fit-content;
  height: fit-content;
}

.clickable:hover {
  background-color: Thistle;
}

/* detail button padding */
.table-card>ol>li>a {
  padding: 0 2px 0 2px;
}

/* highlighting of the current page in navbar */
.current-page {
  background-color: DarkSlateGray;
  color: white;
}

main {
  padding: calc(var(--navbar-height) + 10px) 10px 10px;
  background-color: DarkSlateGray;
  min-height: 100vh;
}

/* card for browsing through the table */
.table-card {
  list-style: none;
  background-color: Wheat;
  max-width: 640px;
  margin: auto;
}

/* styling of one item/food/entity in the table */
/* table is not displayed as html <table>, but as a list, using grid styling */
.grid-item {
  display: grid;
  grid-template-columns: 3rem 8rem 6rem 6rem 6rem 6rem 4rem;
}

/* table header */
.grid-header {
  background-color: DarkSlateGray;
  color: white;
  font-weight: bold;
}

/* PREVIOUS and NEXT buttons */
#table-card-navigation {
  padding: 1vh 5vw 1vh 5vw;
  display: flex;
  justify-content: space-around;
}

#table-card-navigation > div {
  font-weight: bold;
  font-color: Navy;
}

.table-card > ol {
  min-height: 35vh;
}

.grid-item {
  padding: 0 2px 0 2px;
}

.grid-item:not(.grid-header) {
  margin-top: 2px;
}

/* styling of the card for editting */
.detail-card {
  background-color: Wheat;
  max-width: var(--card-max-width);
  margin: 20px auto auto auto;
  padding: 10px;
}

.detail-card > p {
  font-weight: bold;
  margin-bottom: 10px;
}

/* detail card has grid, so that it looks ike nice table*/
.detail-card>form>label,
.detail-card>form>span {
  display: grid;
  grid-template-columns: 6rem auto;
  margin-bottom: 10px;
}

.detail-card .clickable {
  font-size: 1rem;
}

/* detail card contains two forms (the second one is purely for tele action)
but we want it to appear as just one form */
.detail-card>form {
  display: inline;
}

.searchbar {
  margin: auto;
}

.searchbar {
  max-width: 500px;
  margin: 10px auto 10px auto;
}

.searchbar>form>label {
  color: White;
  font-weight: bold;
  font-size: 1.2rem;
}

/* bottom of the page sometimes shows status of performed operation (show/delete/update)
or error caused by users input or wrong url parameters */
.error {
  color: Red;
  font-weight: bold;
  font-size: 1.5rem;
}

.status {
  color: White;
  font-size: 1.5rem;
}

.status-card {
  margin-top: 3%;
  text-align: center;
}
